@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;600&display=swap');

:root {
    --font-size-400: 0.8rem;
    --font-size-500: 1rem;
    --img-size: 350px;
    --font-size-welcome: 4rem;
}

* {
    font-family: 'Alkatra', cursive;
}

@media screen and (max-width:300px) {
    :root {
        --img-size: 250px;
        --font-size-500: 1.3ch;
        --font-size-welcome: 2rem;
    }

    .about-div {
        padding: 1rem;
    }
}

@media screen and (min-width:1000px) {
    :root {
        --img-size: 350px;
        --font-size-500: 1.1rem;
        --font-size-welcome: 5.5rem;
    }
}

p,
h6,
.about-div {
    margin: 0;
    padding: 2rem 1rem 1rem 3rem;

    font-size: var(--font-size-500);
    font-weight: 600;
    /* text-shadow: 0px 2px 0px rgba(174, 205, 210, 0.76); */
    color: white;
}

#about-me-text {
    font-size: calc(var(--font-size-500) + 10px);
    color: rgb(255, 38, 38);
    font-weight: 900;
    font-family: 'Oswald', sans-serif;
}

.img {
    width: var(--img-size);
    filter: brightness(0.99);
}

.img-container {


    display: flex;
    justify-content: center;
    align-items: center;
}

.about-div {
    /* background-color: aliceblue; */
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}

.about-container {

    background-color: #4b4343;
    background-image: url("images/img-bg.jpg");

    background-blend-mode: multiply;
    backdrop-filter: blur(0.9rem);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(0.8rem);
}

body {
    overflow-x: hidden;
    margin: 0;
}

.welcome {
    text-align: center;
    font-size: var(--font-size-welcome);
    color: white;
    text-shadow: 2px 3px 6px rgba(8, 3, 7, 0.75);

}

.virtual-container {
    position: relative;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

header {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    z-index: -2;
}

.background {
    position: absolute;
    /* inset: 0; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.8);
    transform: translateZ(-10px) scale(2.1);
}


section {
    text-align: center;
    color: white;
    background-color: #333;
    padding: 2rem;
}

.hero-div {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */

    /* margin-top: 0;
    min-height: 100vh;
    background-color: #a47c7c;
    background-image: url("./trialimage.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat; */
}

.logo {
    position: absolute;
    z-index: 1;
    inset: 0;
    margin: 1rem;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;

}

.primary-navigation li a {
    text-decoration: underline;
    color: white;
    text-decoration: none;
}

.primary-navigation {
    color: white;
    list-style-type: none;
    margin: 0;
}

.flex-nav {
    padding: 2em 2em 2em 2em;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.flex {
    width: 100%;
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.mobile-nav-toggle {
    visibility: hidden;
}

@media all and (max-width:500px) {

    .primary-navigation[data-visibility="true"] {
        transform: translateX(0%);
    }

    .primary-navigation {
        border: 2px solid beige;
        position: fixed;
        inset: 0 0 0 30%;
        flex-direction: column;
        padding-left: 2em;
        background: hsl(0 0% 100% / 0.1);
        backdrop-filter: blur(0.5rem);
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;
        transform: translateX(100%);
        transition: transform 450ms ease-out;
    }

    .mobile-nav-toggle {
        visibility: visible;
        width: 2rem;
        color: white;
        font-size: 4rem;
        aspect-ratio: 1;
        position: fixed;
        inset: 1rem 1rem auto auto;
        z-index: 1;
        border: 0;
    }

}

section {
    background-color: #333;
    color: aliceblue;
    text-align: center;
    padding: 2rem;
}